<!--
/*
 *
 *                                                                 dddddddd
 *                   AAA                                           d::::::d
 *                  A:::A                                          d::::::d
 *                 A:::::A                                         d::::::d
 *                A:::::::A                                        d:::::d
 *               A:::::::::A         nnnn  nnnnnnnn        ddddddddd:::::d xxxxxxx      xxxxxxxyyyyyyy           yyyyyyyzzzzzzzzzzzzzzzzz
 *              A:::::A:::::A        n:::nn::::::::nn    dd::::::::::::::d  x:::::x    x:::::x  y:::::y         y:::::y z:::::::::::::::z
 *             A:::::A A:::::A       n::::::::::::::nn  d::::::::::::::::d   x:::::x  x:::::x    y:::::y       y:::::y  z::::::::::::::z
 *            A:::::A   A:::::A      nn:::::::::::::::nd:::::::ddddd:::::d    x:::::xx:::::x      y:::::y     y:::::y   zzzzzzzz::::::z
 *           A:::::A     A:::::A       n:::::nnnn:::::nd::::::d    d:::::d     x::::::::::x        y:::::y   y:::::y          z::::::z
 *          A:::::AAAAAAAAA:::::A      n::::n    n::::nd:::::d     d:::::d      x::::::::x          y:::::y y:::::y          z::::::z
 *         A:::::::::::::::::::::A     n::::n    n::::nd:::::d     d:::::d      x::::::::x           y:::::y:::::y          z::::::z
 *        A:::::AAAAAAAAAAAAA:::::A    n::::n    n::::nd:::::d     d:::::d     x::::::::::x           y:::::::::y          z::::::z
 *       A:::::A             A:::::A   n::::n    n::::nd::::::ddddd::::::dd   x:::::xx:::::x           y:::::::y          z::::::zzzzzzzz
 *      A:::::A               A:::::A  n::::n    n::::n d:::::::::::::::::d  x:::::x  x:::::x           y:::::y          z::::::::::::::z
 *     A:::::A                 A:::::A n::::n    n::::n  d:::::::::ddd::::d x:::::x    x:::::x         y:::::y          z:::::::::::::::z
 *    AAAAAAA                   AAAAAAAnnnnnn    nnnnnn   ddddddddd   dddddxxxxxxx      xxxxxxx       y:::::y           zzzzzzzzzzzzzzzzz
 *                                                                                                   y:::::y
 *                                                                                                  y:::::y
 *                                                                                                 y:::::y
 *                                                                                                y:::::y
 *                                                                                               yyyyyyy
 *
 *    Made in Toronto, Canada by Andrew Stevens.
 *    Writings, code, & design Copyright © 2006 - {{ site.time | date: "%Y" }}, {{ site.author }}
 *
 *    Subscribe by RSS: {{ site.subscribe_rss }}
 *    webmaster email: `ruby -e 'puts "YW5keHl6LnN0ZXZlbnNAZ21haWwuY29t\n".unpack("m*")[0]'`
 *
 */
-->
