
<h1>Andrew Stevens</h1>

<div class="bio-overview">
  <figure class="avatar-figure">
    <img class="avatar"
    src="https://www.gravatar.com/avatar/f8b21b8febae9625add3d58a4557e39b?s=512"
    width="255" height="255"
    alt="A Picture of Andrew Stevens" title="A Picture of Andrew Stevens" />
  </figure>

  <p>
    On the <a href="https://xkcd.com/181/">web-o-tubes</a> I go by andxyz.
    I live and work in Toronto, Canada.
    I am a Software Engineer. I prefer Ruby, Unix, Elixir, Kotlin, Swift, Java, Javascript, Python and Golang.
    Maybe even in that order, it is hard to say really.
  </p>
  <div style="clear:both"></div>

  <ul>
    <li><span class="icon-email"></span>
      <a href="mailto:andxyz.stevens@gmail.com">email</a>
    </li>
    <li><span class="icon-twitter"></span>
      <a href="https://twitter.com/andxyzstevens">twitter.com/andxyzstevens</a>
    </li>
    <li><span class="icon-github"></span>
      <a href="https://github.com/andxyz">github.com/andxyz</a>
    </li>
  </ul>

</div>
