
<h1>Andrew Stevens</h1>

<img class="author" src="http://www.gravatar.com/avatar/f8b21b8febae9625add3d58a4557e39b?s=400" width="255" height="255" alt="A Picture of Andrew Stevens" title="A Picture of Andrew Stevens">

<div class="bio-overview">

  <h3>Hi I'm Andrew,</h3>
  <p>
    On the <a href="http://xkcd.com/181/">web-o-tubes</a> I go by andxyz.
    <br>I live and work in Toronto, Canada.
  </p>

  <ul>
    <li>
      I am a Software Developer
      <br>(I prefer Ruby, Unix, Java, and Python in that order)</li>
    <li><span class="icon-resume"></span>
      <a href="/files/andrewstevens-resume-2013.pdf">resume</a>
    </li>
    <li><span class="icon-email"></span>
      <a href="mailto:andxyz.stevens@gmail.com">email</a>
    </li>
    <li><span class="icon-twitter"></span>
      <a href="http://twitter.com/andrewstevens">twitter.com/andrewstevens</a>
    </li>
    <li><span class="icon-github"></span>
      <a href="http://github.com/andxyz">github.com/andxyz</a>
    </li>
  </ul>

</div>
