<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

<!--
/*
 *                                                                                                                                       
 *                                                                 dddddddd                                                              
 *                   AAA                                           d::::::d                                                              
 *                  A:::A                                          d::::::d                                                              
 *                 A:::::A                                         d::::::d                                                              
 *                A:::::::A                                        d:::::d                                                               
 *               A:::::::::A         nnnn  nnnnnnnn        ddddddddd:::::d xxxxxxx      xxxxxxxyyyyyyy           yyyyyyyzzzzzzzzzzzzzzzzz
 *              A:::::A:::::A        n:::nn::::::::nn    dd::::::::::::::d  x:::::x    x:::::x  y:::::y         y:::::y z:::::::::::::::z
 *             A:::::A A:::::A       n::::::::::::::nn  d::::::::::::::::d   x:::::x  x:::::x    y:::::y       y:::::y  z::::::::::::::z 
 *            A:::::A   A:::::A      nn:::::::::::::::nd:::::::ddddd:::::d    x:::::xx:::::x      y:::::y     y:::::y   zzzzzzzz::::::z  
 *           A:::::A     A:::::A       n:::::nnnn:::::nd::::::d    d:::::d     x::::::::::x        y:::::y   y:::::y          z::::::z   
 *          A:::::AAAAAAAAA:::::A      n::::n    n::::nd:::::d     d:::::d      x::::::::x          y:::::y y:::::y          z::::::z    
 *         A:::::::::::::::::::::A     n::::n    n::::nd:::::d     d:::::d      x::::::::x           y:::::y:::::y          z::::::z     
 *        A:::::AAAAAAAAAAAAA:::::A    n::::n    n::::nd:::::d     d:::::d     x::::::::::x           y:::::::::y          z::::::z      
 *       A:::::A             A:::::A   n::::n    n::::nd::::::ddddd::::::dd   x:::::xx:::::x           y:::::::y          z::::::zzzzzzzz
 *      A:::::A               A:::::A  n::::n    n::::n d:::::::::::::::::d  x:::::x  x:::::x           y:::::y          z::::::::::::::z
 *     A:::::A                 A:::::A n::::n    n::::n  d:::::::::ddd::::d x:::::x    x:::::x         y:::::y          z:::::::::::::::z
 *    AAAAAAA                   AAAAAAAnnnnnn    nnnnnn   ddddddddd   dddddxxxxxxx      xxxxxxx       y:::::y           zzzzzzzzzzzzzzzzz
 *                                                                                                   y:::::y                             
 *                                                                                                  y:::::y                              
 *                                                                                                 y:::::y                               
 *                                                                                                y:::::y                                
 *                                                                                               yyyyyyy                                 
 *                                                                                                                                       
 *                                                                                                                                       
 */
-->

  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
  <script src="{{ root_url }}/javascripts/ender.js"></script>
  <script src="{{ root_url }}/javascripts/octopress.js" type="text/javascript"></script>
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  {% include custom/head.html %}
  {% include google_analytics.html %}
</head>
