html {
  background: $page-bg image-url('noise.png') top left;
}

// bio 
#content article.bio {
  padding: 0;
  margin: 0;
}

article div.about-author {
  width: 600px; 
  margin: 0 auto;

  .bio-overview {
    padding-left: 300px;

    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 0.5em; }

    p {
      margin-bottom: 0.5em; }
      
    ul {
      margin-left: 0em;
      list-style: none; } }

  h1 {
    margin: 0 18px 0.2em;
    font-size: 62px; }

  img.author {
    border:none;
    float:left;
    vertical-align: text-top;
    margin-right: 40px;
    margin-bottom: 40px;
    @include border-radius(135px);
    @include box-shadow(0 0 10px 0px #888); }

  img.li {
    vertical-align: text-bottom;
    margin-right:   10px; }

  li:first-child {
    padding-top: 0; }

  li {
    padding-top: 20px; } }

// header
body > header {
  padding-top: 10px;
  padding-bottom: 10px; }

// footer & rss 
footer .footer-copyright {
  text-align: center;
  line-height: 57px; }

footer .rss-icon {
  margin-left: 8px;
  vertical-align: text-bottom; }

footer #rss-button {
  float:right; }

// archive
body #content #blog-archives {
  time {
    font-family: "Droid Sans Mono", "Courier New", sans-serif;
    line-height: 1.2em;
    font-size: 1.2em;
    float: right; }

  .year {
    display: inline-block;
    position: relative;
    left: -7em; }

  article {
    padding: 0px 10px 10px 10px;
    margin: 10px 55px 0px 55px; } 

  h1 {
    margin: 0em;
    font-size: 1.2em;
    float: left; }
}

// writings
.writings-main-img { 
  text-align:center; }

// page
#content article h1.entry-title {
  text-align: center;
  font-weight: lighter;
  font-size: 62px; }

article img.plain {
  border: 0;
  @include border-radius(0,0);
}

img.emoji {
  width:24px;
  height:24px;
  vertical-align: text-bottom;
}

article header {
  padding-top: 0; }

article header .author-link {
  font-weight: lighter !important;
  font-size: 1em;
  text-align: center;
  margin: 0; }

article header .meta {
  font-size: 0.8em;
  color: #444;
  text-transform: uppercase;
  text-align: center; 
  margin: 0; }

article.hentry >  h1 {
  font-size:28px; }

article.hentry > h3 {
  font-size:15px; }





