html {
  background: $page-bg image-url('noise.png') top left;
}

.andxyz-header {
  padding-left: 0px;
  padding-right: 0px;
}

.andxyz-header .search {
  width: 200px;
}

// the bio area
div.about-author {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
}

div.about-author {
  h1 {
    margin:      0 0 18px 0px;
    font-size:   52px;
    font-family: $andxyz-sans;
  }

  .avatar-figure {
    float: left;
    padding: 0 20px 0 10px;
  }

  img.avatar {
    border: none;
    width:  255px;
    height: 255px;
    vertical-align: text-top;
    margin-right:   5%;
    @include border-radius(135px);
    @include box-shadow(0 0 10px 0px #888);
  }

  .bio-overview {

    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0.5em;
    }

    ul {
      margin: 0 0 0 1.5em;
      list-style: none;
    }

    img.li {
      vertical-align: text-bottom;
      margin-right: 10px;
    }

    li {
      padding-top: 20px;
    }
  }
}

// header
body > header {
  padding-top: 10px;
  padding-bottom: 10px; }

// footer & rss
footer .footer-copyright {
  text-align: center;
  line-height: 57px; }

footer .rss-icon {
  margin-left: 8px;
  vertical-align: text-bottom; }

footer #rss-button {
  float:right; }

// archive
body #content #blog-archives {

  h3 { color: $text-color;
       padding: 0; }

  article {
    padding: 0px 10px 10px 10px;
    margin: 10px 20px 0px 20px; }

  span.title {
    margin: 0em;
    font-size: 1.2em;
    display: inline;
    a {
      color: $text-color;
      text-decoration: none;
    }
    a:visited {
      color: $link-color-visited;
    }
    a:hover {
      color: $link-color-hover;
      text-decoration: underline;
    } }

  time {
    font-family: "Droid Sans Mono", "Courier New", sans-serif;
    line-height: 1.2em;
    font-size: 1.2em;
    float: right;
    display: inline; }

  .year {
    display: inline;
  }
}

// writings
.writings-main-img {
  text-align:center;
}

// crazy imathis padding background-size:
body{
 #content > article, #content > div > article, #content > div > section {
  padding: 0px;
 }
}

// page
#content article h1.entry-title {
  text-align: center;
  font-weight: lighter;
  font-size: 62px; }

article img.plain {
  border: 0;
  @include border-radius(0,0);
}

img.emoji {
  width:24px;
  height:24px;
  vertical-align: text-bottom;
}

article header {
  padding-top: 0; }

article header .author-link {
  font-weight: lighter !important;
  font-size: 1em;
  text-align: center;
  margin: 0; }

article header .meta {
  font-size: 0.8em;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  margin: 0; }

article.hentry >  h1 {
  font-size:28px; }

article.hentry > h3 {
  font-size:15px; }
