// keep the same feel for the seach box

body > header form {
  margin: 0;
  padding: 0;
}

body > header form .search {
  @include border-radius(16px);
  background: transparent;
  padding: .3em .5em 0;
  font-size: .85em;
  line-height: 1.1em;
  color: #888; }

body > header form .search:focus {
  color: #444;
  background: #fff;
  border-color: #80b1df;
  outline: none; }

body > header fieldset.search {
  float: right;
  width: 33%; }

body > header fieldset.mobile-nav {
  float: left;
  width: 20%; }

body > header fieldset.mobile-nav select {
  width: 100%;
  font-size: .8em;
  border: 1px solid #888; }