// keep the same feel for the seach box

body > header form {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  padding: 0; 
}

body > header form .search {
  padding: .3em .5em 0;
  font-size: .85em;
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1em;
  width: 95%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #d1d1d1 0 1px;
  -moz-box-shadow: #d1d1d1 0 1px;
  box-shadow: #d1d1d1 0 1px;
  background-color: #f2f2f2;
  border: 1px solid #b3b3b3;
  color: #888; }

body > header form .search:focus {
  color: #444;
  border-color: #80b1df;
  -webkit-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  -moz-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
  background-color: #fff;
  outline: none; }

body > header fieldset[role=search] {
  float: right;
  width: 20%; }

body > header fieldset.mobile-nav {
  float: left;
  width: 20%; }

body > header fieldset.mobile-nav select {
  width: 100%;
  font-size: .8em;
  border: 1px solid #888; }